body {
    margin: 0;
    padding: 0;
    background-color: #a0dfff; /* Arka plan rengini açık mavi olarak ayarladık */
    font-family: Arial, sans-serif;
}

header {
    background-color: #007BFF; /* Menü arka plan rengini mavi olarak ayarladık */
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-top: 0;
}
